body {
    overflow-y: scroll;
    overflow-x: hidden;
}

@font-face {
    font-family: Arial;
    src: url(arial.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(OpenSans-Regular.ttf);
}


/************bg area***********/

.bg_area {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.col-sm-12.bg_area_pad {
    padding: 0 76px;
}

.logo_txt h4 {
    color: #fff;
    font-family: arial;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0;
}

.col-sm-6.extra_ri {
    padding-right: 0;
}

.mini_bar_grp {
    padding-bottom: 16px;
}

.col-sm-6.extra_pad {
    padding-left: 20px;
    padding-right: 0;
}

.col-sm-4.mar_right {
    margin-right: -70px;
    padding-bottom: 30px;
}

.col-sm-4.mar2_right {
    margin-right: -72px;
}

.circle > img {
    bottom: -42px;
    position: absolute;
    right: 101px;
    width: 23%;
}

.arrow_bg > img {
    bottom: -21px;
    position: absolute;
    right: 18px;
    width: 7%;
    z-index: 1;
}

.logo_txt > p {
    color: #fff;
    font-family: arial;
    font-size: 28px;
    font-style: italic;
}

.mini_bar {
    padding-bottom: 17px;
    width: 104%;
}

.min_bar_one > p {
    color: #fff;
    font-family: arial;
    font-size: 18px;
    padding-left: 9%;
    padding-top: 9px;
}

.min_bar_one {
    background-image: url("mini_bar.png");
    background-size: 100% 100%;
    padding: 11px 34px;
}

.bar_header {
    background-image: url("bar.png");
    background-size: 100% 100%;
}

.header_txt h1 {
    color: #fea30d;
    font-family: open sans;
    font-size: 45px;
    font-weight: bold;
}

.header_txt {
    padding: 1px 33px 27px;
    text-align: center;
}

.header_txt > p {
    color: #fff;
    font-family: open sans;
    font-size: 16px;
    padding: 0 23px;
    text-align: left;
}

.bg_right_area {
    padding: 0 65px;
}

.form_area {
    background-color: #fff;
    left: 102px;
    position: absolute;
    right: 23px;
    top: 150px;
}

.form-control {
    border-radius: 0;
}

.form1 {
    padding: 38px 55px 10px;
}

.form2,
.form3,
.form4,
.form5,
.form6,
.form7 {
    padding: 0 55px 10px;
}

.form6>.form-control {
    border: 0;
    padding: 0;
}

input[type="file"] {
    opacity: 0;
    position: relative;
    z-index: 999;
}

.form6 {
    position: relative;
}

.form6 > p {
    position: absolute;
    top: 7px;
}

.form7>.form-control {
    height: 80px;
}

.form_area_pad {
    padding: 0 24px;
}

.form7 {
    padding-bottom: 16px;
}

.form8 {
    text-align: center;
}

.form8 > input {
    background-image: url("btn.png");
    background-size: 100% 100%;
    border: 0 none;
    padding: 25px 137px;
}

.form8 {
    padding-bottom: 27px;
}

.min_bar_one > img {
    position: absolute;
    right: -119px;
    top: 496px;
    z-index: 1;
}

.bg_left_area {
    padding-top: 17px;
}

.bg_right_area {
    padding: 17px 0 17px 61px;
}

.bg_img > img {
    width: 74%;
}


/*************service area**************/

.container.service_pad {
    padding: 0 81px;
}

.service {
    background-color: #1E2429;
}

.summary_header {
    padding-left: 0;
}

.service_header > h1 {
    color: #fb7c39;
    font-family: open sans;
    font-size: 36px;
    padding-bottom: 25px;
    padding-left: 1%;
    padding-top: 10px;
}

.serv_img > img {
    width: 100%;
}

.list li {
    color: #fff;
    font-family: open sans;
    font-size: 16px;
    font-weight: 500;
    list-style: outside none none;
    padding: 6px 0;
}

.list img {
    padding-right: 6px;
}

ul.list {
    padding-left: 0;
}

.serv {
    padding-bottom: 20px;
}


/************summary area*************/

.container.summary_pad {
    padding: 0 94px;
}

.summary_bg {
    background-color: #1e2429;
    padding: 12px;
}

.summary_bg > h1 {
    color: #fff;
    font-family: open sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin: 0;
    padding-bottom: 19px;
    padding-top: 15px;
}

.summary_header > h1 {
    color: #0d4dae;
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    padding-top: 25px;
}

.img {
    float: left;
    margin-top: 8px;
    padding-left: 27px;
    padding-right: 26px;
}

.summary_header > p {
    color: #282b2c;
    font-family: arial;
    font-size: 14px;
    padding-top: 10px;
    line-height: 26px;
}

.summary_tag {
    padding: 25px 0 44px;
}

.summary_footer > p {
    color: #282b2c;
    font-family: arial;
    font-size: 14px;
    line-height: 26px;
}

.log_right {
    background-image: url("log-right.png");
    background-size: 100% 100%;
    padding: 48px 336px;
    width: 100%;
}

.input_lft > input {
    background: rgba(0, 0, 0, 0) url("book.png") no-repeat scroll 0 0 / 100% 100%;
    border: 0 none;
    padding: 13px 78px;
    position: absolute;
    right: 409px;
    top: 25px;
}

.summary_footer {
    padding-bottom: 54px;
    padding-left: 0;
}

.log_right_pad {
    padding-left: 30.6%;
    position: absolute;
}

.logo_ft {
    float: left;
}

.copy > p {
    color: #424647;
    font-family: arial;
    font-size: 12px;
    padding-bottom: 26px;
    padding-top: 58px;
}

span {
    color: #ff9000;
}

.log_right_pad > img {
    display: none;
}